html,
body {
	margin: 0;

	width: 100vw;
}

.custom-tab-focus-style {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: calc(100% + 4px);
		height: calc(100% + 4px);

		border: 4px dashed green;
	}
}

.image-container {
	max-width: 100%;
	max-height: 100%;

	img {
		max-width: 100%;
		max-height: 100%;

		object-fit: scale-down;
	}
}
